[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=DB_HOST=mysql.abhishekdev.fun
Environment=DB_USER=root
Environment=DB_PASS=RoboShop@1
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping
Restart=always

[Install]
WantedBy=multi-user.target
